@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(to right bottom, #444144, #242328);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.container {
	position: relative;
	width: 200px;
	height: 60px;
	border-radius: 30px;
	background: linear-gradient(180deg, #322d2f, #4a474a);
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	position: relative;
	width: 90px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.left {
	border-radius: 20px 0 0 20px;
}

.right {
	border-radius: 0 20px 20px 0;
}

.normal {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	background: linear-gradient(180deg, #4a4549, #2e292d);
	color: rgba(120, 114, 118, 0.8);
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7),
	-1px -1px 0 rgba(0, 0, 0, 0.7);
	box-shadow: 0 7px 5px rgba(0, 0, 0, 0.5);
}

.pushed {
	box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
	inset -5px 0 10px rgba(0, 0, 0, .5);
	color: var(--color);
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7);
}

.pushed::before {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	bottom: 0px;
	background: linear-gradient(90deg, rgba(0,0,0,0), var(--color), rgba(0,0,0,0));
	animation: underline-ani 0.5s linear 1 forwards;
}

@keyframes underline-ani {
	0% {
		width: 0px;
		height: 0px;
		bottom: 0px;
	}
	100% {
		width: 50px;
		height: 1px;
		bottom: 1px;
	}
}

.pushed::after {
	position: absolute;
	content: '';
	width: 0px;
	height: 0px;
	bottom: 0px;
	background: var(--color);
	filter: blur(5px) opacity(0.3);
	animation: blur-bg-ani 0.5s linear 1 forwards;
}

@keyframes blur-bg-ani {
	0% {
		width: 0px;
		height: 0px;
		bottom: 0px;
	}
	100% {
		width: 50px;
		height: 20px;
		bottom: 1px;
	}
}